<!DOCTYPE html>
<html>
<head>
    <title>Simple Blog</title>
</head>
<body>
    <h1>All Blog Posts</h1>
    {% if user.is_authenticated %}
        <p>Welcome, {{ user.username }}! <a href="{% url 'logout' %}">Logout</a></p>
        <p><a href="{% url 'create_post' %}">Create New Post</a></p>
    {% else %}
        <p><a href="{% url 'login' %}">Login</a> to create a post or comment.</p>
    {% endif %}
    <ul>
        {% for post in posts %}
            <li>
                <a href="{% url 'post_detail' post.id %}">{{ post.title }}</a> by 
                <a href="{% url 'author_profile' post.author.id %}">{{ post.author.username }}</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
